USE [master]
GO
/****** Object:  Database [Buchhandlung]    Script Date: 17.12.2025 17:40:46 ******/
CREATE DATABASE [Buchhandlung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Buchhandlung', FILENAME = N'C:\Informatik Programmieren\Neuer Ordner\MSSQL17.SQLEXPRESS\MSSQL\DATA\Buchhandlung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Buchhandlung_log', FILENAME = N'C:\Informatik Programmieren\Neuer Ordner\MSSQL17.SQLEXPRESS\MSSQL\DATA\Buchhandlung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Buchhandlung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Buchhandlung]
GO
/****** Object:  Table [dbo].[Buecher]    Script Date: 17.12.2025 17:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buecher](
	[BuchID] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](100) NOT NULL,
	[Autor] [nvarchar](100) NOT NULL,
	[Genre] [nvarchar](50) NULL,
	[Preis] [decimal](10, 2) NULL,
	[Erscheinungsjahr] [int] NULL,
	[Lagerbestand] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BuchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Buecher] ADD  DEFAULT ((0)) FOR [Lagerbestand]
GO
USE [master]
GO
